version: "3.9"
services:
  transmute:
    image: transmute/jws-test-suite-cli
    build:
      context: ./implementations/transmute
      dockerfile: Dockerfile
    volumes:
      - ./data:/data
  danubetech:
    image: danubetech/ldsignatures-test-jws
    build:
      context: ./implementations/danubetech
      dockerfile: Dockerfile
    volumes:
      - ./data:/data
  spruce:
    image: spruce/jws-test-suite-cli
    build:
      context: ./implementations/spruce
      dockerfile: Dockerfile
    volumes:
      - ./data:/data
  microsoft:
    image: microsoft/jws-test-suite-cli
    build:
      context: ./implementations/microsoft
      dockerfile: Dockerfile
    volumes:
      - ./data:/data
  did-jwt-vc:
    image: did-jwt-vc/jws-test-suite-cli
    build:
      context: ./implementations/did-jwt-vc
      dockerfile: Dockerfile
    volumes:
      - ./data:/data
